


.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1000px;
}

body {
  background: #d6d8d9 url(../images/ios-linen-light-gray.png);
  font: 14px/20px Helvetica, sans-serif;
  text-shadow: rgba(255,255,255,.4) 0 1px 0;
}

a {
  text-decoration: none;
  color: #4967b3;
  -webkit-transition: color .2s ease; /* Will Gecko add this? */
}
a * {
  -webkit-transition: color .2s ease; /* Will Gecko add this? */
}
a:hover {
  color: #275de7;
}

/* Video */

video {
  -webkit-box-shadow: rgba(0,0,0,.4) 0 4px 20px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 4px 20px;
}



/* Page header tweaks */
.page-header {
  /*background-color: #f5f5f5;*/
  margin: 20px;
  border-bottom: none;
  /*margin: -20px -20px 20px;*/
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */
.tags .tag {
  /*margin: 10px 0;*/
  overflow: hidden;
  zoom: 1;
}
.tags a {
  font-size: 12px;
  white-space: nowrap;
}
ul.tags {
  list-style: none;
  margin: 0;
}
ul.tags li {
  float: left;
  margin: 5px 10px;
}
.tags .skills-with-endorsements .tag-button {
  /*float: left;*/
  margin-top: 2px;
}
.tags .tag-button {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}


.tags .tag-button .tag-name {
  /*min-width: 56px;*/
  /*width: auto;*/
}
.tags .tag-name {
  padding: 0 10px;
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #efefef,#e5e5e5);
  background-image: -moz-linear-gradient(top, #efefef,#e5e5e5);
  background-image: -o-linear-gradient(top, #efefef,#e5e5e5);
  background-image: -ms-linear-gradient(top, #efefef,#e5e5e5);
  background-image: linear-gradient(top, #efefef,#e5e5e5);
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
  border-bottom: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
}

.tags .tag-button .tag-count {
  width: 30px;
  background-color: #CEE9F1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cee9f1), color-stop(100%, #b2d6e1));
  background-image: -webkit-linear-gradient(top, #cee9f1,#b2d6e1);
  background-image: -moz-linear-gradient(top, #cee9f1,#b2d6e1);
  background-image: -o-linear-gradient(top, #cee9f1,#b2d6e1);
  background-image: -ms-linear-gradient(top, #cee9f1,#b2d6e1);
  background-image: linear-gradient(top, #cee9f1,#b2d6e1);
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  border-bottom: 1px solid #A4C5D0;
}

 .tags .tag-button .tag-count, .tag-button .tag-name {
  float: left;
  color: #333;
  line-height: 26px;
}




.tag_box {
  list-style:none;
  margin: -6px 20px 0 5px;
  padding: 0;
  overflow:hidden;
  white-space: nowrap;
  line-height: 40px;
}
.tag_box li {
  line-height:28px;
  margin-right: 10px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background-color: #e5ccaf;
  color: #333;
  border-radius: 3px;
  text-decoration:none;

  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  /*font-family: "MuseoSans-500";*/
  /*background-color: #fbf6d4;*/

}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
  
.sidebar .tag_box {
  font-size: 12px;
}
.sidebar .tag_box a {
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.4);
}

hr {
  border: none;
  height: 2px;
  /*border-bottom:  rgba(90, 90, 90, 0.499219) 1px dashed;*/
  background: url('../images/hr.png') top repeat-x;

}

.content {
  margin-top: 10px;
}


.navbar  .navbar-inner .brand {
  color: rgba(0,0,0,.2);
  text-shadow: rgba(255,255,255,1) -2px -1px 0;
}

/*
.navbar-inner  {
  box-shadow: none;
  position: absolute;
  width: 100%;
  height: 44px;
  font: 12px HelveticaNeue-Medium, Helvetica, sans-serif;
  text-align: center;
  color: rgba(69,53,84,.9);
  background: url(../images/ticker_tape.png) top center no-repeat;
  border: none;
}
.navbar {
  box-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #b4a9be;
  text-decoration: none;
  background-color: rgba(115, 255, 55, 0.399219);
  border-radius: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar  .navbar-inner .brand {
  left: 1025px;
  bottom: 10px;
  position: relative;
  font: 14px HelveticaNeue-Medium, Helvetica, sans-serif;
  line-height: 35px;
  -webkit-animation-name: glowBlue;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}*/





p {
  padding-top: 20px;
}




/* post */

.post .post_title {
  font: 26px HelveticaNeue-Light, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.post .post_date {
  font-family: HelveticaNeue-Medium, Helvetica, sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,.5);
  margin-bottom: 20px;
}

.post h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0 0px 0;
}

.post .top {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 45px;
  height: 100px;
  background: url(../images/post-founders-top.png) no-repeat;
  margin-bottom: -1px;
}

.post .top h3.categoty a {
  text-decoration: none;
}
.post .top h3.categoty {
  max-width: 400px;
  float: right;
  margin-right: 10px;
  margin-top: -60px;
  color: rgba(0,0,0,.6);
  font-family: HelveticaNeue-Medium, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-transform: scaleY(.75);
  -moz-transform: scaleY(.75);
  text-align: right;
  text-transform: uppercase;
  text-shadow: rgba(255,255,255,.8) 0 1px 0;
}

.post .top h3.categoty .clipDetails {
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}


.post .bottom {
  height: 76px;
  padding: 0 73px;
  background: url(../images/post-founders-bottom.png) no-repeat;
  margin-top: -1px;
  margin-bottom: 40px;
}

.post .bottom .meta {
  color: rgba(0,0,0,.5);
  font-size: 13px;
  line-height: 16px;
  font-family: HelveticaNeue-Medium, Helvetica, sans-serif;
}

.post .bottom .meta span {
  display: block;
  float: left;
  clear: none;
  height: 17px;
}
.post .bottom .meta .date {
  background: url(../images/meta-info.png) no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 21px;
  margin-right: 10px;
}
.post .bottom .meta .comment_count {
  background: url(../images/meta-comments.png) 0 1px no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 21px;
  margin-right: 10px;
}
.post .post_body, .cat_life .post_body {
  background: url(../images/post-founders-middle.png) repeat-y;
  /*padding: 35px 55px 85px 55px;*/
  padding: 20px 50px 85px 50px;
}
.post, .cat_life_body {
  margin:0;
  width: 830px;
}






/* sidebar */


.sidebar .post_title {
  font: 26px HelveticaNeue-Light, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.sidebar .post_date {
  font-family: HelveticaNeue-Medium, Helvetica, sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,.5);
  margin-bottom: 20px;
}

.sidebar h3 {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  margin: 20px 0 0px 0;
  overflow:hidden;
  white-space: nowrap;
}

.sidebar .top {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 45px;
  height: 52px;
  background: url(../images/post-sidebar-top.png) no-repeat;
  margin-bottom: -1px;
}
.sidebar .top h3.categoty {
  max-width: 130px;
  /*float: right;*/
  margin-left: -20px;
  margin-top: 25px;
  color: rgba(0,0,0,.6);
  font-family: HelveticaNeue-Medium, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-transform: scaleY(.75);
  -moz-transform: scaleY(.75);
  text-align: left;
  text-transform: uppercase;
  text-shadow: rgba(255,255,255,.8) 0 1px 0;
}


.sidebar .bottom {
  height: 66px;
  padding: 0 73px;
  background: url(../images/post-sidebar-bottom.png) no-repeat;
  margin-top: -1px;
  margin-bottom: 10px;
}

.sidebar .bottom .meta {
  color: rgba(0,0,0,.5);
  font-size: 13px;
  line-height: 16px;
  font-family: HelveticaNeue-Medium, Helvetica, sans-serif;
}

.sidebar .bottom .meta span {
  display: block;
  float: left;
  clear: none;
  height: 17px;
}
.sidebar .bottom .meta .date {
  background: url(../images/meta-info.png) no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 21px;
  margin-right: 10px;
}
.sidebar .bottom .meta .comment_count {
  background: url(../images/meta-comments.png) 0 1px no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 21px;
  margin-right: 10px;
}

.sidebar_body {
  /*margin:0;*/
  background: url(../images/post-sidebar-middle.png) repeat-y;
  padding: 20px 5px 5px 5px;
}

.sidebar {
  font-size: 14px;
  /*line-height: 24px;*/
  color: rgba(0,0,0,.75);

}
.sidebar .sidebar_body {
  width: 180px;
}

.sidebar .top {
  width: 105px;
}
.sidebar .bottom {
 width: 44px; 
}

.side_list {
  margin: 0;
  margin-left:10px;
}


/* clip */

.clip {
  margin-left: -43px;
}

.clip {
  width: 806px;
  text-shadow: none;
  color: black;
  margin-top: 20px;
}
.clipTop {
  height: 18px;
  background: url(../images/post-clip-top.png) no-repeat;
  margin-bottom: -1px;
}
.clipMiddle {
  max-width: 320px;
  background-image: url(../images/paperclip2.png), url(../images/post-clip-middle.png);
  background-repeat: no-repeat, repeat-y;
  background-position: top left, top left;
  padding-right: 20px;
  padding-left: 60px;
  padding-top: 0;
  padding-bottom: 12px;
}
/*.post .clipMiddle {
  background: url(../images/post-clip-middle.png) repeat-y;
}*/
.clip-icon a {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.post .clip a {
  display: block;
  max-width: 272px;
  min-height: 18px;
  -webkit-transition: color .2s ease;
  color: black;
}
.post .clip a:hover {
  color:  #275de7;
  text-decoration: none;
}

.clip-globe a {
  background-image: url(../images/clipicon-globe.png);
}

.clip h3 {
  font: 16px Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  /*padding-top: 9px;*/
}
.clip-with-details .clipDetails {
  font-size: 13px;
  font-weight: normal !important;
  color: rgba(0,0,0,.5);
}
.clipBottom {
  height: 18px;
  padding: 0;
  background: url(../images/post-clip-bottom.png) no-repeat;
  margin-top: -1px;
}


.post_body img {
  border: 5px solid white;
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(0,0,0,.4) 0 2px 5px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 2px 5px;
}

.page .post_body img {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

blockquote {
  border-left: 4px solid #e5ccaf;
}

.grey {
  color: #888888;
}


footer {
  height: 20px;
  padding-top: 65px;
  padding-bottom: 25px;
  text-align: center;
  /*text-transform: uppercase;*/
  color: rgba(0,0,0,.4);
  text-shadow: rgba(205,205,205,1) 0 1px 0;
}

ul.social {
  margin: 0;
}
ul.social li {
  background: none;
  float: left;
}
ul.social li {
  /*background: url(/images/arrow-bullet.gif) no-repeat left top;*/
  list-style:none;
  padding-right:8px;
}

ul.social img {
  max-height: 32px;
}


.reposname {
  background-color: rgba(250, 250, 250, 0.6);
  /*background: url(../images/transp_white30.png);*/
  /*border: none;*/
}

.pagination { 
  float: right;
  margin-right: -70px;
  margin-top: -10px;
}

.pagination ul > li.disabled > a, .pagination ul > li > span {
  /*background-color: rgba(180, 180, 180, 0.599219);*/
}

.pagination ul > li > a, .pagination ul > li > span {
  /*text-shadow: rgba(20, 20, 20, 0.896094) 0px -1px 0px;*/
  /*background-color: rgba(240, 240, 240, 0.9);*/
  background-color: #fbf6d4;
  height: 28px;
  line-height: 28px;
}

.pagination ul > li.prev > a {
   border-top-left-radius: 10px; 
   border-bottom-left-radius: 10px; 
}
.pagination ul > li.next > a {
   border-top-right-radius: 10px; 
   border-bottom-right-radius: 10px; 
}

.post .addthis_toolbox {
  float: right;
}

footer .addthis_toolbox {
  float: right;
}

.index .post_body img, .index .post_body iframe {
  float: left;
  max-width: 280px;
  margin-right: 30px;
}

.index .post_body p {
  padding-top: 5px;
}


.index .post_body img > p {
  padding-top: 0px;
  margin-top: 0px;
}


.cat_guides_body table {
  width: 100%;
  margin-bottom: 20px;
}


.cat_guides_body table th,
.cat_guides_body table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

.cat_guides_body table tbody tr:hover td,
.cat_guides_body table  tbody tr:hover th {
  background-color: #e5ccaf;
}

.cat_guides_body table tbody tr:nth-child(odd) td,
.cat_guides_body table tbody tr:nth-child(odd) th {
  background-color: #e9ddaf;
}