---
layout: default
---

<h3 class="page-title">
  Posts in сategory :&nbsp;
  <a href="/categories/{{page.category}}">{{page.category}}</a>
</h3>
<br><br>
{% for post in site.categories[page.category] %}
<div class="span8">
      <ul class="tag_box inline">
        <li class="post_name"> <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a> </li>
        {% for tag in post.tags %}
        <li> <a href="/tags.html?{{ tag }}" title="{{ tag }}">{{ tag }}</a> </li>
        {% endfor %}
      </ul>
      &nbsp;&nbsp;{{ post.date | date_to_string }}

    
    <br><hr>
    </div>
{% endfor %}
