{% include JB/setup %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}twitter/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}twitter/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <link href="/css/GitHubWidget.css" rel="stylesheet" type="text/css" >

    <link href="{{ ASSET_PATH }}twitter/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}twitter/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/GitHubWidget.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages  %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <span class="social-links pull-right">
            <a href="http://www.facebook.com/mekhovov" target="_blank"><span class="follow aticon-facebook" title="Follow on Facebook">Facebook</span></a>
            <a href="http://twitter.com/mekhovov" target="_blank"><span class="follow aticon-twitter" title="Follow on Twitter">Twitter</span></a>
            <a href="http://www.linkedin.com/in/mekhovov" target="_blank"><span class="follow aticon-linkedin" title="Follow on LinkedIn">LinkedIn</span></a>
            <a href="https://plus.google.com/113797180435801844653" target="_blank"><span class="follow aticon-google_follow" title="Follow on Google+">Google+</span></a>
            <!-- <a href="http://mekhovov.github.io/atom.xml" target="_blank"><span class="follow aticon-rss" title="Follow on RSS">RSS</span></a> -->
          </span>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">

        <div class="row">
          <div class="span11">
            {{ content }}
          </div>

          <div class="span1">

            <!-- Categories -->
            <div class="row sidebar">
                <div class="row top">
                  <h3 class="categoty"><a href="/categories.html" title="Categories" rel="category">Categories</a></h3>
                </div>
              <div class='row sidebar_body'>
                <div class='span2'> 
                  
                  <ul class="side_list">
                    {% for category in site.categories %}
                    <li><a href="/categories.html#{{category | first}}">{{category | first}} ({{category | last | size }})</a></li>
                    {% endfor %}
                  </ul> 

                </div>
              </div>
              <div class="row bottom">
                <div class="meta"></div>
              </div>
            </div>


            <!-- Recent Posts -->
            <div class="row sidebar">
                <a class="rss pull-right" href="{{ site.production_url }}/atom.xml" target="_blank" ><img src="/images/rss-beer.png" title="RSS feed"/></a>
                <div class="row top">
                  <h3 class="categoty"><a href="/index.html" title="Categories" rel="category">Recent Posts</a></h3>
                </div>
              <div class='row sidebar_body'>
                <div class='span2'> 
                  
                  <ul class="side_list">
                    {% for post in site.posts limit:10 %}
                    <li>
                      <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                  </ul> 

                </div>
              </div>
              <div class="row bottom">
                <div class="meta"></div>
              </div>
            </div>

            <!-- Ruby Way Facebook -->
            <div class="row sidebar">
              <div class='row sidebar_body'>
                  <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FRailsWay&amp;width=180&amp;height=280&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=593301974023942" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:280px;" allowTransparency="true"></iframe>
              </div>
              <div class="row bottom">
              </div>
            </div>

            <!-- Tags -->
            <div class="row sidebar">
                <div class="row top">
                  <h3 class="categoty"><a href="/tags.html" title="Categories" rel="category">Tags</a></h3>
                </div>
              <div class='row sidebar_body'>
                <div class='span2'> 
                  <ul class="tags inline">
                    {% assign tags_list = site.tags %}  
                    {% include JB/tags_list %}
                  </ul>
                </div>
              </div>
              <div class="row bottom">
                <div class="meta"></div>
              </div>
            </div>


          </div>


              


    </div> <!-- /container -->
    <div class="c_lear" ></div>

    {% include JB/analytics %}
  </body>
</html>
