---
layout: default
---
{% include JB/setup %}


<div class=" post cat_{{ page.categories }}">

  <div class="row top">
      <div class="clip clip-with-details clip-icon clip-globe">
      <div class="clipTop"></div>
      <div class="clipMiddle">
        <a href="{{ post.url }}">
          <h3>{{ page.title }}</h3>
          <span class="clipDetails">{{ page.date | date_to_string }}</span>
        </a>
      </div>
      <div class="clipBottom">
      </div>
    </div>
    <h3 class="categoty">
      {% for category in page.categories %}
        <a href="/categories.html#{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
      {% endfor %}
    </h3>
  </div>

  <div class='row post_body cat_{{ page.categories }}_body'>

    <div class='span9'> 
      {{ content }} 
      
      <br>
        <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style " 
              addthis:url="{{ site.production_url }}{{ page.url }}"
              addthis:title="{{ page.title }} by @mekhovov">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50815d307531d654"></script>
        <!-- AddThis Button END -->
        <!-- Xing Button BEGIN -->
          <span style="display: inline; position:relative; float:right; right:5px" class='pull-right' data-url="{{ site.production_url }}{{ page.url }}">
            <div data-counter="right" data-type="XING/Share"></div>
              <script>
                ;(function (d, s) {
                  var x = d.createElement(s),
                    s = d.getElementsByTagName(s)[0];
                    x.src = "https://www.xing-share.com/js/external/share.js";
                    s.parentNode.insertBefore(x, s);
                })(document, "script");
              </script>
          </span>
        <!-- Xing Button END -->
      <br>
      <hr>
      <br>
      <div class="meta span4">
        <span class="date">
          <ul class="tag_box inline">
            {% for tag in page.tags %}
            <li> <a href="/tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a> </li>
            {% endfor %}
          </ul>
        </span>
      </div>
        
      <div class="pagination span4">
        <ul>
        {% if page.previous %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
        {% else %}
          <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
          <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
        {% if page.next %}
          <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
        {% else %}
          <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
        </ul>
      </div>
    </div>

    <div class="span9" id='comments'>
      {% include JB/comments %}
    </div>

  </div>

  <div class="row bottom">
    <div class="meta"></div>
  </div>


</div>
  


