---
layout: default
---
{% include JB/setup %}




<div class="row top">
      <div class="clip clip-with-details clip-icon clip-globe">
      <div class="clipTop"></div>
      <div class="clipMiddle">
        <a href="{{ post.url }}">
          <h3>{{ page.title }}</h3>
          <span class="clipDetails">{{ page.date | date_to_string }}</span>
        </a>
      </div>
      <div class="clipBottom">
      </div>
    </div>
    <h3 class="categoty">
      {% for category in page.categories %}
        <a href="/categories.html#{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
      {% endfor %}
    </h3>
  </div>

  <div class='row post cat_{{ page.categories }}'>

    <div class='span9'> 
      {{ content }} 
    </div>

    
    <div class="span9">
      <br>
      <hr>
      <h3>Related posts</h3>
      <ul>
        {% for post in site.related_posts %}
          <li> <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <br>
    </div>


    <div class="span9" id='comments'>
      {% include JB/comments %}
    </div>

  </div>
  <div class="row bottom">
    <div class="meta span4">
      <span class="date">
        <ul class="tag_box inline">
          {% for tag in page.tags %}
          <li> <a href="/tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a> </li>
          {% endfor %}
        </ul>
      </span>
    </div>
      
    <div class="pagination span4">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
                              
  </div>


  


